body {
    background: lightblue;
    margin: 10px;
}
.name {
    color: white;
    font-size: 30px; 
    font-style: bold;
    background:orange;
    padding: 15px 4px;
    width: 35%;
    text-align: center;
    margin: 10px;
}
.instructions {
    width: 50%;
    background: peachpuff;
    color: green;
    padding: 15px;
    margin: 10px;
}

.randnumbox {
    background: greenyellow;
    color: purple;
    margin: 10px;
    height: 10%;
    width: 20%;
    float: left;
    padding: 5px;
}
.tracker {
    height: 10%;
    width: 15%;
    color:white; 
    background: teal;
    margin: 10px;
    float: left;
    padding: 5px;
}
.buttons {
    width: 70px;
    height: 70px;
}

.crystals {
    clear: both;
    margin: 10px;
}

#scoretitle {
    width: 20%;
    height: 5%;
    background: teal;
    color: white;
    margin: 10px;
    padding: 5px;
}

#yourscore {
    width: 20%;
    height: 15%;
    background: teal;
    color: white;
    font-size: 30px;
    margin: 10px;
    padding: 5px;
}

p {
    margin: 15px;
}